Repository SamBroomy/heisenberg: changes, and which pre-commit hooks are due for each by the changed paths.
All: just-fmt, cargo-machete, cargo-audit, clippy, fmt, rust-docs

just-fmt:
  name: just fmt
  entry: just --unstable --fmt
  language: system
  stages:
  - pre-commit
  pass_filenames: false

cargo-machete:
  name: cargo machete
  description: This hook runs cargo machete on the project and checks for any issues.
  entry: cargo machete --fix
  language: system
  stages:
  - pre-commit
  pass_filenames: false

cargo-audit:
  name: cargo audit
  description: This hook runs cargo audit on the project and fails if any vulnerabilities are found.
  entry: cargo audit --deny unsound --deny yanked
  language: system
  stages:
  - pre-commit
  pass_filenames: false

clippy:
  name: cargo clippy
  description: This hook runs cargo clippy on the project and fixes any issues.
  entry: cargo clippy --fix --allow-dirty --allow-staged --all-targets --quiet -- -D warnings
  language: system
  stages:
  - pre-commit
  pass_filenames: false

fmt:
  name: cargo fmt
  description: This hook runs cargo fmt on the project
  entry: cargo +nightly fmt --all
  language: system
  stages:
  - pre-commit
  pass_filenames: false

rust-docs:
  name: cargo doc
  description: This hook runs cargo doc on the project and checks for any issues.
  entry: cargo doc --open --all-features
  language: system
  stages:
  - pre-commit
  pass_filenames: false

lints
  .pre-commit-config.yaml
  Cargo.toml
  crates/heisenberg-data-processing/Cargo.toml
  crates/heisenberg-data-processing/src/lib.rs
  crates/heisenberg/Cargo.toml
Due: cargo-machete, cargo-audit, clippy, fmt, rust-docs

clippy
  .gitignore
  .pre-commit-config.yaml
  Cargo.toml
  crates/heisenberg-data-processing/src/embedded/mod.rs
  crates/heisenberg-data-processing/src/lib.rs
  crates/heisenberg-data-processing/src/processed/create_admin_search.rs
  crates/heisenberg-data-processing/src/raw/fetch.rs
  crates/heisenberg-data-processing/src/raw/mod.rs
  crates/heisenberg-data-processing/src/test_data.rs
  crates/heisenberg/build.rs
  crates/heisenberg/examples/administrative_search.rs
  crates/heisenberg/examples/data_sources.rs
  crates/heisenberg/src/backfill/entry/generic.rs
  crates/heisenberg/src/backfill/entry/mod.rs
  crates/heisenberg/src/backfill/mod.rs
  crates/heisenberg/src/backfill/resolve.rs
  crates/heisenberg/src/config/mod.rs
  crates/heisenberg/src/core.rs
  crates/heisenberg/src/data/embedded/mod.rs
  crates/heisenberg/src/data/mod.rs
  crates/heisenberg/src/index/mod.rs
  crates/heisenberg/src/lib.rs
  crates/heisenberg/src/main.rs
  crates/heisenberg/src/search/admin_search.rs
  crates/heisenberg/src/search/common.rs
  crates/heisenberg/src/search/mod.rs
  crates/heisenberg/src/search/place_search.rs
  crates/heisenberg/src/search/search_orchestration.rs
Due: cargo-machete, cargo-audit, clippy, fmt, rust-docs

doctest fix
  .gitignore
  crates/heisenberg/src/core.rs
  python/heisenberg/py.typed
Due: cargo-machete, cargo-audit, clippy, fmt, rust-docs

update documentation
  Cargo.toml
  crates/heisenberg/Cargo.toml
  crates/heisenberg/src/core.rs
  crates/heisenberg/src/lib.rs
  crates/heisenberg/src/python/mod.rs
  pyproject.toml
  python/README.md
  python/examples/01_basic_usage.py
  python/examples/03_batch_processing.py
  python/examples/04_resolution_backfill.py
  python/heisenberg/__init__.py
  python/heisenberg/_internal.py
  readme.md
Due: cargo-machete, cargo-audit, clippy, fmt, rust-docs

changed entry from trait to type
  crates/heisenberg/examples/batch_processing.rs
  crates/heisenberg/examples/data_sources.rs
  crates/heisenberg/examples/location_resolution.rs
  crates/heisenberg/src/backfill/entry.rs
  crates/heisenberg/src/backfill/entry/basic.rs
  crates/heisenberg/src/backfill/entry/generic.rs
  crates/heisenberg/src/backfill/entry/mod.rs
  crates/heisenberg/src/backfill/mod.rs
  crates/heisenberg/src/backfill/resolve.rs
  crates/heisenberg/src/core.rs
  crates/heisenberg/src/lib.rs
  crates/heisenberg/src/main.rs
  crates/heisenberg/src/python/mod.rs
  justfile
  python/examples/04_resolution_backfill.py
  python/examples/05_advanced_features.py
  python/examples/README.md
  python/heisenberg/_internal.py
  python/tests/test_bindings.py
  readme.md
  tests/integration_tests.rs
Due: just-fmt, cargo-machete, cargo-audit, clippy, fmt, rust-docs

lints
  .gitignore
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  crates/heisenberg/Cargo.toml
  justfile
  pyproject.toml
  python/examples/01_basic_usage.py
  python/examples/02_configuration.py
  python/examples/03_batch_processing.py
  python/examples/04_resolution_backfill.py
  python/examples/05_advanced_features.py
  python/heisenberg/__init__.py
  python/heisenberg/_internal.py
  python/tests/test_bindings.py
  uv.lock
Due: just-fmt

add ci and release workflows
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Cargo.toml
  crates/heisenberg/Cargo.toml
  justfile
Due: just-fmt

fix ci
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  justfile
Due: just-fmt

fix ci
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  crates/heisenberg/Cargo.toml
  justfile
Due: just-fmt

fix ci
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

fix ci
  crates/heisenberg/Cargo.toml
  pyproject.toml
  uv.lock
Due: none

fix ci
  .github/workflows/ci.yaml
  README.md
  crates/heisenberg/Cargo.toml
Due: none

fix ci
  crates/heisenberg/Cargo.toml
Due: none

fix ci
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  Cargo.lock
  crates/heisenberg/Cargo.toml
  justfile
Due: just-fmt

fix ci
  .github/workflows/ci.yaml
Due: none

fix ci
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  python/examples/01_basic_usage.py
  python/examples/03_batch_processing.py
  python/examples/04_resolution_backfill.py
  python/heisenberg/_internal.py
  uv.lock
Due: just-fmt

fix ci
  .pre-commit-config.yaml
Due: none

fix ci
  .github/actions/setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .gitignore
Due: none

fix cache improvement
  .github/actions/setup/action.yaml
Due: none

fix cache improvement
  .github/actions/setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  justfile
Due: just-fmt

ci try fix cache improvement
  .github/actions/setup/action.yaml
  .github/workflows/ci.yaml
  justfile
Due: just-fmt

upgrade deps
  Cargo.lock
  Cargo.toml
  crates/heisenberg-data-processing/Cargo.toml
  crates/heisenberg-data-processing/src/lib.rs
  crates/heisenberg-data-processing/src/processed/mod.rs
  crates/heisenberg-data-processing/src/raw/all_countries.rs
  crates/heisenberg-data-processing/src/raw/country_info.rs
  crates/heisenberg-data-processing/src/raw/feature_codes.rs
  crates/heisenberg/src/data/embedded/mod.rs
  crates/heisenberg/src/index/mod.rs
  crates/heisenberg/src/main.rs
  crates/heisenberg/src/python/mod.rs
  crates/heisenberg/src/search/admin_search.rs
  crates/heisenberg/src/search/common.rs
  crates/heisenberg/src/search/place_search.rs
Due: cargo-machete, cargo-audit, clippy, fmt, rust-docs

ensure raw cities* data produces valid admin data
  Cargo.lock
  Cargo.toml
  crates/heisenberg-data-processing/Cargo.toml
  crates/heisenberg-data-processing/src/embedded/mod.rs
  crates/heisenberg-data-processing/src/error.rs
  crates/heisenberg-data-processing/src/lib.rs
  crates/heisenberg-data-processing/src/main.rs
  crates/heisenberg-data-processing/src/processed/create_admin_search.rs
  crates/heisenberg-data-processing/src/processed/create_place_search.rs
  crates/heisenberg-data-processing/src/processed/mod.rs
  crates/heisenberg-data-processing/src/raw/admin.rs
  crates/heisenberg-data-processing/src/raw/all_countries.rs
  crates/heisenberg-data-processing/src/raw/country_info.rs
  crates/heisenberg-data-processing/src/raw/feature_codes.rs
  crates/heisenberg-data-processing/src/raw/fetch.rs
  crates/heisenberg-data-processing/src/raw/mod.rs
  crates/heisenberg-data-processing/src/raw/places.rs
  crates/heisenberg-data-processing/src/raw/test_data/mod.rs
  crates/heisenberg-data-processing/src/test_data.rs
  crates/heisenberg/Cargo.toml
  crates/heisenberg/src/data/mod.rs
  crates/heisenberg/src/index/mod.rs
  crates/heisenberg/src/main.rs
  pyproject.toml
  uv.lock
Due: cargo-machete, cargo-audit, clippy, fmt, rust-docs

fixed tests
  crates/heisenberg-data-processing/src/lib.rs
  crates/heisenberg-data-processing/src/processed/mod.rs
  crates/heisenberg-data-processing/src/raw/mod.rs
  crates/heisenberg/examples/administrative_search.rs
  crates/heisenberg/examples/basic_search.rs
  crates/heisenberg/examples/data_sources.rs
  crates/heisenberg/src/core.rs
  crates/heisenberg/src/data/mod.rs
  crates/heisenberg/src/lib.rs
  crates/heisenberg/src/main.rs
  crates/heisenberg/src/python/mod.rs
  crates/heisenberg/tests/integration_tests.rs
  justfile
Due: just-fmt, cargo-machete, cargo-audit, clippy, fmt, rust-docs

test data
  .gitignore
  crates/heisenberg-data-processing/src/raw/test_data/samples/admin1_codes_sample.txt
  crates/heisenberg-data-processing/src/raw/test_data/samples/admin2_codes_sample.txt
  crates/heisenberg-data-processing/src/raw/test_data/samples/country_info_sample.txt
  crates/heisenberg-data-processing/src/raw/test_data/samples/feature_codes_en_sample.txt
  crates/heisenberg-data-processing/src/raw/test_data/samples/geoname_sample.txt
  crates/heisenberg/src/core.rs
Due: cargo-machete, cargo-audit, clippy, fmt, rust-docs

updated ci
  .github/workflows/release.yaml
  justfile
Due: just-fmt

python package name change
  Cargo.lock
  Cargo.toml
  README.md
  pyproject.toml
  uv.lock
Due: none

python package name change
  Cargo.toml
Due: none

rust package version
  Cargo.toml
Due: none

rust package version
  crates/heisenberg/Cargo.toml
Due: none

Path conditions:
  just-fmt: any of: ^justfile$
  cargo-machete: any of: \.rs$
  cargo-audit: any of: \.rs$
  clippy: any of: \.rs$
  fmt: any of: \.rs$
  rust-docs: any of: \.rs$
